{% extends "main.html" %}

{% block css %}
    <link href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/dropdown.js"></script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="main">
        <div class="topBar">
            <button id="dropdownButton" onclick="dropdown();">
                <div id="dropdown">
                    <a href="/settings">Setting</a>

                    </br>

                    <a href="/customization">Customization</a>

                    </br>

                    <a href="/about">About</a>

                    </br>
                    
                    <a href="/logout">Logout</a>
                </div>
            </button>
        </div>

        <h1>Welcome, {{ username }}</h1>

    </div>
{% endblock %}