{% extends "base.html" %}

{% block css %}
    <link href="../static/css/settings.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/settings.js"></script>
{% endblock %}

{% block title %}Setting{% endblock %}

{% block content %}
    <h1>Settings</h1>

    <form method="POST">

        <h2>New Username:</h2>
        <input type="text" class="form" id="username" name="username" placeholder="{{ username }}"/>

        <br/>

        <h2>New Password:</h2>
        <input type="password" class="form" id="password" name="password" placeholder="New Password:"/>

        <br/>

        <h2>Confirm New Password:</h2>
        <input type="password" class="form" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password:"/>

        <br/>
        <br/>
    
        <button type="submit">Save</button>
    </form>

    <br/>

    <a href="/home">
        <button>Exit</button>
    </a>

    <button id="deleteButton" onclick="deleteConfirmation();">Delect Account</button>

    <div id="confirmation">
        <a href="/delete-account">
            <button>Confirm</button>
        </a>

        <button onclick="cancelConfirmation();">Cancel</button>
    </div>
{% endblock %}