{% extends "main.html" %}

{% block css %}
    <link href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/toDoList.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/dropdown.js"></script>
{% endblock %}

{% block title %}To Do List{% endblock %}

{% block content %}
    <div class="main">
        <div class="topBar">
            <button id="dropdownButton" onclick="dropdown();">
                <img src=""/>

                <div id="dropdown">
                    <a href="/settings">Setting</a>
                    <a href="/about">About</a>
                    <a href="/logout">Logout</a>
                </div>
            </button>
        </div>

        <h1>To Do</h1>

        <div class="box">
            <div id="header">
                <form method="POST">
                    <input type="text" id="text" name="text" placeholder="Add task:"/>
                    <input type="date" id="dueDate" name="dueDate" placeholder="Due date:"/>
                    <button type="submit">Add</button>
                </form>
            </div>

            <div id="tasks">
                {% for task in tasks %}
                    {% if task.user_id == user_id %}
                        <div class="task">
                            <span class="{{ task.text_for_done_button }}">{{ task.text }}</span>

                            <a href="/delete-to-do/{{ task.id }}">
                                <button>Delete</button>
                            </a>

                            <a href="/done-to-do/{{ task.id }}">
                                <button>{{ task.text_for_done_button }}</button>
                            </a>

                            <span id="dueDate">Due date: {{ task.due_date }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}