* {
    text-align: center;
    margin-top: 2%;
}

h1 {
    font-size: 80px;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 20px;
}

button {
    border-radius: 20px;
    width: 100px;
}

h2 {
    font-size: 30px;
    display: inline;
}

input {
    margin-bottom: 2%;
}

.form {
    font-size: 30px;
    height: 40px;
    width: 475px;
    border-radius: 5px;
    text-align: left;
}

#deleteButton {
    width: 150px;
    height: 40px;
    color: white;
    background-color: red;
    display: block;
    margin-top: 2%;
    margin-left: 45%;
}

#confirmation {
    display: none;
    margin-top: 2%;
}